<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Amadeco_OpcacheGui::opcache_gui" sortOrder="10" title="OPcache GUI">
                    <resource id="Amadeco_OpcacheGui::index_index" sortOrder="10" title="OPcache Dashboard" />
                    <resource id="Amadeco_OpcacheGui::index_gui" sortOrder="20" title="OPcache GUI Interface" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
