<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amadeco_OpcacheGui::index_main" 
             title="React"
             parent="Magento_Backend::system"
             module="Amadeco_OpcacheGui"
             sortOrder="120"
             resource="Amadeco_OpcacheGui::index_index"
        />
        <add id="Amadeco_OpcacheGui::index_index" 
             title="OPcache GUI"
             module="Amadeco_OpcacheGui"
             action="opcache_gui/index/index"
             resource="Amadeco_OpcacheGui::index_index" 
             parent="Amadeco_OpcacheGui::index_main" 
             sortOrder="10"
        />
    </menu>
</config>
