<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amadeco_OpcacheGui::gui_index" title="PHP OpCache Dashboard" translate="title" module="Amadeco_OpcacheGui" sortOrder="40" parent="Magento_Backend::system_tools" action="opcache_gui/gui/index" resource="Amadeco_OpcacheGui::gui_index"/>
    </menu>
</config>
