<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Genaker_Opcache::index_main" 
             title="React"
             parent="Magento_Backend::system"
             module="Genaker_Opcache"
             sortOrder="120"
             resource="Genaker_Opcache::index_index"
        />
        <add id="Genaker_Opcache::index_index" 
             title="OPcache GUI"
             module="Genaker_Opcache"
             action="opcache_gui/index/index"
             resource="Genaker_Opcache::index_index" 
             parent="Genaker_Opcache::index_main" 
             sortOrder="10"
        />
    </menu>
</config>
